.cas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
    margin-left: 380px;
    margin-top: 100px;
}
.a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: red;
    border-style: dashed;
    border-color: red;
    background-color: #ffffff;
}
.b{
    margin-top: 70px;
    border-style: dotted;
    border-width: 15px;
    border-color: #ffffff;
    background-color: rgb(169, 1, 1);
}
.f{
    width: 700px;
}